[Unit]
Description=Thermometer CPU Frequency Daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/thermometer --daemon
Restart=on-failure
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
